 .header
{
    height: 40px;
    background-color: rgb(166, 207, 255);
    margin-top: -8px;
    margin-left: -8px;
    position: relative;
}
li
{
    list-style: none;
    display: inline;
    padding-left: 30px;
}
.head1
{  
    margin-top: 10px;
    position: absolute;
}
a
{
    text-decoration: none;
    color: black;
}
a:hover
{
    border-bottom: 1px solid white;
    color: white;
}
.head2
{
    margin-left: 1100px;
    margin-top: 12px;
    position: absolute;
}
.EShopper
{
    margin-top: 20px;
}
.E
{
    color: rgb(192, 58, 102);
    font-size: 40px;
    margin-left: 40px;
    font-weight: bolder;
    border: 1px solid  rgb(216, 186, 186);
    width: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.shopper
{
    font-size: 50px;
    margin-left: 120px;
    font-weight: bolder;
    margin-top: -56px;
    font-family: Arial, Helvetica, sans-serif;
}
.search
{
    border: 1px solid rgb(216, 186, 186);
    height: 30px;
    width: 500px;
    margin-top: -40px;
    margin-left: 380px;
    color: rgb(192, 58, 102);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
}
.searchicon
{
    margin-left: 850px;
    margin-top: -25px;
    position: sticky;
}

.searchicon :hover
{
    color:rgb(192, 58, 102);
}
.heart
{
    border: 1px solid rgb(216, 186, 186);
    height: 40px;
    width: 60px;
    margin-left: 1100px;
    margin-top: -35px;
    position: relative;
}
.hearticon 
{
    color: rgb(192, 58, 102);
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
}
.zero
{
    font-size: 20px;
    margin-top: -20px;
    color: rgb(66, 63, 63);
    margin-left: 30px;
    position: absolute;
}
.cart
{
    border: 1px solid rgb(216, 186, 186);
    height: 40px;
    width: 60px;
    margin-left: 1200px;
    margin-top: -40px;
    position: relative;
}
.carticon 
{
    color: rgb(192, 58, 102);
    margin-top: 10px;
    margin-left: 10px;
    position: absolute; 
}
.hr
{
    color: rgb(238, 213, 213);
    margin-top: 30px;
}
.head3
{
    margin-top: 30px;
    margin-left: 300px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.head3 :hover
{
    color: rgb(192, 58, 102);
}
 .navigation .menu
{
     position: relative;
}
.submenu
{
    height: 200px;
    margin-left: 70px;
    padding-right: 170px;
    margin-top: 6px;
    position: absolute;
    background-color:white;
    transition: all 7s;
    display: none;
}
.submenu li
{
    margin-top: 20px;
    margin-left: -30px;
     position: absolute;
}
 .submenu li a
    {
               
     text-decoration: none;  
               
    }
           
.navigation .menu:hover .submenu
{
    display: block;
    background-color:white
}
.navigation .menu2
 {
     position: relative;
}
.submenu2
{
    height: 140px;
    margin-left: 190px;
    padding-right: 130px;
    margin-top: 6px;
    position: absolute;
    background-color:white
    transition: all 7s;
    display: none;
}
.submenu2 li
{
    margin-top: 20px;
    margin-left: -40px;
     position: absolute;
}
 .submenu2 li a
{           
     text-decoration: none;             
 }          
.navigation .menu2:hover .submenu2
{
    display: block;
    background-color: white;
  
}
.form
{
    margin-left: 1100px;
    margin-top: -40px;
    font-size: 20px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.image{
    background-color: #EDF1FF;
    height: 300px;
   
    margin-left: -10px;
    margin-right: -8px;;
}
.image h1
{
    text-align: center;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.image .link
{
    padding-left: 600px;
 
}
.image a{
    color:#c03a66;
    font-size: 20px;
}
.container{
    height: 500px;
}
.section-title{

    margin-left: 40px;
    margin-top: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.form-control{
    margin-left: 40px;
    width: 600px;
    height: 35px;
    border:1px #FAEBD7 solid;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.firstname
{
    margin-left: 40px;
    margin-top: 50px;
    font-size: 20px;
}

.form-control1
{
    margin-top: 4px;
    margin-left: 30px;
    width: 300px;
    height: 35px;
    border:1px solid rgb(192, 58, 102);
    position: absolute;
}

.lastname
{
    margin-left: 400px;
    margin-top: -41px;
    font-size: 20px;
    position: sticky;

}

.lastname1
{
    width:700px;
}

.lastname2
{
    width:700px;
}

.form-control2
{
    margin-top: 2px;
    margin-left: 400px;
    width: 300px;
    height: 35px;
    position: absolute;
    border:1px solid rgb(192, 58, 102);
   
}


.email2
{
   
    margin-left: 40px;
    margin-top: 80px;
    font-size: 20px;

}

.form-control3
{
    margin-top: -4px;
    margin-left: 30px;
    width: 300px;
    height: 35px;
    border:1px solid rgb(192, 58, 102);
    position: absolute;
}

.phonenumber
{
    margin-left: 400px;
    margin-top: -40px;
    font-size: 20px;
    position: sticky;

}

.form-control4
{
    margin-top:-8px;
    margin-left:400px;
    width: 300px;
    height: 35px;
    position: absolute;
    border:1px solid rgb(192, 58, 102);
   
}

.adress1
{
   
    margin-left: 30px;
    margin-top: 70px;
    font-size: 20px;
    position: sticky;

}

.form-control5
{
    margin-top: -5px;
    margin-left: 25px;
    width: 300px;
    height: 35px;
    border:1px solid rgb(192, 58, 102);
    position: absolute;
}

.adress2
{
    margin-left: 400px;
    margin-top: -40px;
    font-size: 20px;
    position: sticky;

}

.form-control6
{
    margin-top:-5px;
    margin-left: 400px;
    width: 300px;
    height: 35px;
    border:1px solid rgb(192, 58, 102);
   
}

.country
{
   
    margin-left: 30px;
    margin-top: 20px;
    font-size: 20px;
    position: sticky;

}

.form-control7

{
    margin-top: -5px;
    margin-left: 25px;
    width: 300px;
    height: 35px;
    border:1px solid rgb(192, 58, 102);
    position: absolute;
}

.city
{
    margin-left: 400px;
    margin-top: -40px;
    font-size: 20px;
    position: sticky;

}

.form-control8
{
    margin-top:-7px;
    margin-left: 400px;
    width: 300px;
    height: 35px;
    border:1px solid rgb(192, 58, 102);
   
}

.state
{
   
    margin-left: 30px;
    margin-top: 20px;
    font-size: 20px;
    position: sticky;

}

.form-control9

{
    margin-top: -5px;
    margin-left: 25px;
    width: 300px;
    height: 35px;
    border:1px solid rgb(192, 58, 102);
    position: absolute;
}


.zipcode
{
    margin-left: 400px;
    margin-top: -40px;
    font-size: 20px;
    position: sticky;

}

.form-control10
{
    margin-top:-5px;
    margin-left: 400px;
    width: 300px;
    height: 35px;
    border:1px solid rgb(192, 58, 102);
   
}








.massage{
    margin-left: 40px;
    width: 600px;
    height: 200px;
    border:1px #FAEBD7 solid;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.btn{
    margin-left: 40px;
    margin-top:15px;
    height: 50px;
    width: 200px;
    background-color: rgb(172, 81, 111);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    margin-bottom: 30px; 
}
.parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.spn1{
    float: left;
 
}
#contactForm{
    
    height: 300px;
}
.spn2{
    padding-left: 30px;
}
.spn2 h3{
    font-family: Arial, Helvetica, sans-serif;
}
.spn2 p{
    font-family: Arial, Helvetica, sans-serif;
}
.column h3{
    font-family: Arial, Helvetica, sans-serif;
}
.icons{
color: rgb(192, 58, 102);
font-size: 25px;
}


.cart_sumary {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 400px;
    margin-left: 900px;

    margin-top: -390px;
}

.cart_sumary h4 {
    font-weight: 600;
    font-size: 1.4rem;
    color: #1C1C1C;
    font-family: "Poppins", sans-serif;
    background-color: #EDF1FF;
    width: 23rem;
    padding: 1rem;
    margin: 0;
}

.cart_sumary .card-body {
    width: 24rem;
    margin-left: -7px;
    padding: 1rem;
}

.cart_sumary .card-body h6 {
    display: inline;
    font-size: 1.2rem;
    margin: 0.8rem;
    font-weight: 500;
    line-height: 1.2;
    color: #1C1C1C;
    font-family: "Poppins", sans-serif;
}

.pro
{
    margin-left: 10px;
}

.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}

.cart_footer {
    margin: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.125);

}

.cart_footer h5 {
    display: inline;
    font-size: 1.2rem;
    margin: 0.8rem;
    font-weight: 800;
    line-height: 1.2;
    color: #1C1C1C;
    font-family: "Poppins", sans-serif;
}

.cart_sumary2 {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 400px;
    margin-left: 900px;
    height: 370px;

    margin-top: 50px;
}

.cart_sumary2 h4 {
    font-weight: 600;
    font-size: 1.4rem;
    color: #1C1C1C;
    font-family: "Poppins", sans-serif;
    background-color: #EDF1FF;
    width: 23rem;
    padding: 1rem;
    margin: 0;
}

.cart_sumary .card-body {
    width: 24rem;
    margin-left: -7px;
    padding: 1rem;
}
.bttn_side_footer {
    text-align: center;
    margin-left: 32px;
    height: 50px;
    width: 21rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
    border: 1px solid #D19C97;
    color: #212529;
    background-color: #D19C97;
    margin-top: 60px;
}

.radio1
{
    margin-top: 20px;
}
.footer
{
    height: 550px;
    margin-left: -10px;
    background-color: rgb(166, 207, 255) ;
    margin-bottom: -380px;
    margin-top: 100px;
    margin-right: -8px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.e
{
    color: rgb(192, 58, 102);
    font-size: 50px;
    margin-left: 50px;
    font-weight: bolder;
    border: 1px solid  rgb(216, 186, 186);
    width: 60px;
    text-align: center;
    margin-top: 90px;
    position: absolute;
}
.Shopper
{
    font-size: 50px;
    margin-left: 140px;
    font-weight: bolder;
    margin-top: 90px;
    position: absolute;
}
.paragraph
{
    margin-top: 180px;
    margin-left: 50px;
    font-size: 20px;
    position: absolute;
}
.locationicon
{
    color: rgb(192, 58, 102);
    font-size: 25px;
    margin-top: 290px;
    margin-left: 50px;
    position: absolute;
}

.location
{
    margin-top: 293px;
    margin-left: 90px;
    font-size: 16px;
    position: absolute;
}


.mailicon
{
    color: rgb(192, 58, 102);
    font-size: 20px;
    margin-top: 340px;
    margin-left: 50px;
    position: absolute;
}

.mail
{
    
    margin-top: 340px;
    margin-left: 90px;
    font-size: 16px;
    position: absolute;
}


.callicon
{
    color: rgb(192, 58, 102);
    font-size: 20px;
    margin-top: 390px;
    margin-left: 50px;
    position: absolute;
}

.call
{
    margin-top: 390px;
    margin-left: 90px;
    font-size: 16px;
    position: absolute;
}


.circleicon
{
    color: rgb(192, 58, 102);
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
    position: absolute;
}

.yoursitename
{
    margin-top: 12px;
    margin-left: 80px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;

}
.yoursitename:hover
{
    color: rgb(192, 58, 102);

}

.circle
{
    margin-top: 12px;
    margin-left: 200px;
    font-size: 17px;
    position: absolute;
}
.codes
{
    margin-top: 15px;
    margin-left: 440px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
}
.codes:hover
{
    color: rgb(192, 58, 102);
}
.lastparagraph
{
    margin-top: 250px;
    position: relative;
}
.newsletter
{
    margin-left: 1000px;
    font-weight: bolder;
    margin-top: -300px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}
.name
{
    margin-left: 1000px;
    font-weight: bolder;
    margin-top: -250px;
    height: 50px;
    width: 250px;
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.mail2
{
    margin-left: 1000px;
    font-weight: bolder;
    margin-top: -220px;
    height: 50px;
    width: 250px;
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.subscribe
{
    margin-left: 1000px;
    font-weight: bolder;
    margin-top: -190px;
    height: 50px;
    width: 250px;
    background-color: rgb(172, 81, 111);
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.subscribe a
{
    color: white;
}

