.header
{
    height: 40px;
    background-color: rgb(166, 207, 255);
    margin-top: -8px;
    margin-left: -8px;
    position: relative;
}
li
{
    list-style: none;
    display: inline;
    padding-left: 30px;
}
.head1
{  
    margin-top: 10px;
    position: absolute;
}
a
{
    text-decoration: none;
    color: black;
}
a:hover
{
    border-bottom: 1px solid white;
    color: white;
}
.head2
{
    margin-left: 1100px;
    margin-top: 12px;
    position: absolute;
}
.EShoppe
{
   margin-top: 20px;
}
.Es
{
    color: rgb(192, 58, 102);
    font-size: 50px;
    margin-left: 50px;
    font-weight: bolder;
    border: 1px solid  rgb(216, 186, 186);
    width: 60px;
    text-align: center;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
	position:absolute;
}
.shop
{
    font-size: 50px;
    margin-left: 120px;
    font-weight: bolder;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
	position:relative;
}
.search
{
    border: 1px solid rgb(216, 186, 186);
    height: 30px;
    width: 500px;
    margin-top: -40px;
    margin-left: 380px;
    color: rgb(192, 58, 102);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
}
.searchicon
{
    margin-left: 850px;
    margin-top: -25px;
    position: sticky;
}

.searchicon :hover
{
    color:rgb(192, 58, 102);
}
.heart
{
    border: 1px solid rgb(216, 186, 186);
    height: 40px;
    width: 60px;
    margin-left: 1100px;
    margin-top: -35px;
    position: relative;
}
.hearticon 
{
    color: rgb(192, 58, 102);
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
}
.zero
{
    font-size: 20px;
    margin-top: -20px;
    color: rgb(66, 63, 63);
    margin-left: 30px;
    position: absolute;
}
.cart
{
    border: 1px solid rgb(216, 186, 186);
    height: 40px;
    width: 60px;
    margin-left: 1200px;
    margin-top: -40px;
    position: relative;
}
.carticon 
{
    color: rgb(192, 58, 102);
    margin-top: 10px;
    margin-left: 10px;
    position: absolute; 
}
.hr
{
    color: rgb(238, 213, 213);
    margin-top: 30px;
}
.head3
{
    margin-top: 30px;
    margin-left: 300px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.head3 :hover
{
    color: rgb(192, 58, 102);
}
 .navigation .menu
{
     position: relative;
}
.submenu
{
    height: 200px;
    margin-left: 70px;
    padding-right: 170px;
    margin-top: 6px;
    position: absolute;
    background-color: white;
    transition: all 7s;
    display: none;
}
.submenu li
{
    margin-top: 20px;
    margin-left: -30px;
     position: absolute;
}
 .submenu li a
    {
               
     text-decoration: none;  
               
    }
           
.navigation .menu:hover .submenu
{
    display: block;
   
}
.navigation .menu2
 {
     position: relative;
}
.submenu2
{
    height: 140px;
    margin-left: 190px;
    padding-right: 130px;
    margin-top: 6px;
    position: absolute;
    background-color: white;
    transition: all 7s;
    display: none;
}
.submenu2 li
{
    margin-top: 20px;
    margin-left: -40px;
     position: absolute;
}
 .submenu2 li a
{           
     text-decoration: none;             
 }          
.navigation .menu2:hover .submenu2
{
    display: block;

}
.form
{
    margin-left: 1100px;
    margin-top: -40px;
    font-size: 20px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
.image{
    background-color: #EDF1FF;
   height: 300px;
    margin-left: -10px;
    margin-right: -8px;;
}
.image h1
{
    text-align: center;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.image .link
{
    padding-left: 600px;
 
}
.image a{
    color:#c03a66;
    font-size: 20px;
}
.forms{
	height:400px;
	width:400px;
	border:2px black solid;
	border-radius:30px;
	background-color:rgb(28, 221, 228);
	margin-top:10%;
	margin-left:35%;
}
.formt{
	height:550px;
	width:400px;
	border:2px black solid;
	border-radius:30px;
	background-color:rgb(28, 221, 228);
	margin-left:35%;
    margin-top: 40px;
	margin-bottom: 10px;
}
h2{
	color:black;
	text-align:center;
	font-family:arial
}
.user,.fn,.ln,.ph{
	width:320px;
	height:30px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:20px;
	color:black;
	
}
.pass,.pa{
	width:320px;
	height:30px;
	margin-top:10px;
	margin-bottom:10px;
	color:black;
	margin-left:20px
}
.ma{
	width:320px;
	height:30px;
	
	margin-top:10px;
	margin-bottom:10px;
	color:black;
	margin-left:20px
}
button{
	background-color:blue;
	color:white;
	width:200px;
	height:35px;
	
	margin-top:30px;
	margin-left:110px
}
.node{
	color:black;
	padding-left:20px
}
.link{
	color:blue;
	margin-left:20px;
    margin-top: 10px;
	text-decoration:none
}
.para{
	color:black;
	text-align:center;
	font-family:arial;
}
.para a{
	color:blue;
}
.footer
{
    height: 550px;
    margin-left: -10px;
    background-color: rgb(166, 207, 255) ;
    margin-bottom: -380px;
    margin-top: 100px;
    margin-right: -8px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.e
{
    color: rgb(192, 58, 102);
    font-size: 50px;
    margin-left: 50px;
    font-weight: bolder;
    border: 1px solid  rgb(216, 186, 186);
    width: 60px;
    text-align: center;
    margin-top: 90px;
    position: absolute;
}
.Shopper
{
    font-size: 50px;
    margin-left: 140px;
    font-weight: bolder;
    margin-top: 90px;
    position: absolute;
}
.paragraph
{
    margin-top: 180px;
    margin-left: 50px;
    font-size: 20px;
    position: absolute;
}
.locationicon
{
    color: rgb(192, 58, 102);
    font-size: 25px;
    margin-top: 290px;
    margin-left: 50px;
    position: absolute;
}

.location
{
    margin-top: 293px;
    margin-left: 90px;
    font-size: 16px;
    position: absolute;
}


.mailicon
{
    color: rgb(192, 58, 102);
    font-size: 20px;
    margin-top: 340px;
    margin-left: 50px;
    position: absolute;
}

.mail
{
    
    margin-top: 340px;
    margin-left: 90px;
    font-size: 16px;
    position: absolute;
}


.callicon
{
    color: rgb(192, 58, 102);
    font-size: 20px;
    margin-top: 390px;
    margin-left: 50px;
    position: absolute;
}
.call
{
    margin-top: 390px;
    margin-left: 90px;
    font-size: 16px;
    position: absolute;
}
.circleicon
{
    color: rgb(192, 58, 102);
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
    position: absolute;
}

.yoursitename
{
    margin-top: 12px;
    margin-left: 80px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;

}
.yoursitename:hover
{
    color: rgb(192, 58, 102);

}

.circle
{
    margin-top: 12px;
    margin-left: 200px;
    font-size: 17px;
    position: absolute;
}
.codes
{
    margin-top: 15px;
    margin-left: 440px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
}
.codes:hover
{
    color: rgb(192, 58, 102);
}
.lastparagraph
{
    margin-top: 250px;
    position: relative;
}
.newsletter
{
    margin-left: 1000px;
    font-weight: bolder;
    margin-top: -300px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}
.name
{
    margin-left: 1000px;
    font-weight: bolder;
    margin-top: -250px;
    height: 50px;
    width: 250px;
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.mail2
{
    margin-left: 1000px;
    font-weight: bolder;
    margin-top: -220px;
    height: 50px;
    width: 250px;
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.subscribe
{
    margin-left: 1000px;
    font-weight: bolder;
    margin-top: -190px;
    height: 50px;
    width: 250px;
    background-color: rgb(172, 81, 111);
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.subscribe a
{
    color: white;
}
